.header
    .header__text
        グループを作成しました

.contents
    .left-content
        .side-header
            .side-header__box
                .side-header__box--user-name
                    test-user
                .side-header__box--menu
                





    .right-content