.header
    .header__text
        グループを作成しました

.contents
    .left-content
        .side-header
            .side-header__box
                %p.side-header__box__user-name
                    test-user
                %ul.side-header__box__menu
                    %li.side-header__box__menu__new-group
                        =link_to "/groups/new"  do
                            =fa_icon 'edit'

                    %li.side-header__box__menu__edit-user
                        =link_to "/users/id/edit"  do
                            =fa_icon 'cog'
            
        .groups
            .group1
                %p.group1__group-name
                    test-group
                %p.group1__latest-message
                    さようなら
            
            .group2
                %p.group2__group-name
                    sample-group
                %p.group2__latest-message
                    hello!

            .group3
                %p.group3__group-name
                    example
                %p.group3__latest-message
                    まだメッセージがありません


    .right-content
        .main-header
            .main-header__left-box
                %h2.main-header__left-box__current-group
                    test-group
                    
                %ul.main-header__left-box__member-list
                    Member : 

                    %li.main-header__left-box__member-list__member
                        ABC

                    %li.main-header__left-box__member-list__member
                        DEF

                    %li.main-header__left-box__member-list__member
                        GHI

            =link_to 'groups/edit', class:"main-header__edit-btn" do
                Edit

        .messages
            .message1
                .upper-info
                    %p.upper-info__user
                        test-user
                    %p.upper-info__date
                        2019/7/14(Sun) 12:26:46

                %p.message1__text
                    こんにちは！
            
            .message2
                .upper-info
                    %p.upper-info__user
                        test-user
                    %p.upper-info__date
                        2019/7/15(Sun) 12:26:46
                
                %p.message2__text
                    さようなら！
            

        .form
                
