html {
	overflow: auto;
}
body {
	overflow: hidden;
    min-width: 900px;
}

// .header{
//     height: 25px;
//     width: 100%;
//     background-color: $option-color;

//     &__text{
//     color:   $text-color;
//     text-align: center;
//     }
// }

.contents{
    height: 100vh;
    width:  100%;

    .left-content{
        float: left;
        height: 100%;
        width:  300px;
        background-color: $groups-color;
        position: relative;

        .side-header{
            height: 100px;
            width:  300px;
            background-color: #253141;
            position: absolute;

            &__box{
                height: 100px;
                width:  300px;
                display: inline-block;
                
                &__user-name{
                    float:  left;
                    font-size: 16px;
                    font-weight: bold;
                    color:  $text-color;
                    line-height: 100px;
                    padding-left: 20px;
                }

                &__menu{
                    float:  right;
                    padding-top:   40px;
                    padding-right: 20px;

                    &__new-group{
                        margin-right: 3px;
                        float: left;
                    }
                    
                    &__edit-user{
                        margin-left: 3px;
                        float: right;
                    }
                    
                    .fa{
                        color: $text-color;
                    }
                }
            }
        }

        .groups{
            height: calc(100% - 100px);
            width:  300px;
            background-color: $groups-color;
            margin-top: 100px;

            .group{
                padding: 0 0 0 20px;

        
                .group__name{
                    font-size: 15px;
                    font-weight: bold;
                    color: $text-color;
                    padding-top: 20px;
                    padding-bottom: 5px;
                }
        
                .group__message{
                    font-size: 11px;
                    font-weight: bold;
                    color: $text-color;
                    padding-bottom: 40px;
                }
            }
        }
    }



    .right-content{
        float: right;
        height: 100%;
        width:  calc(100% - 300px);
        background-color: #fafafa;
        

        .main-header{
            height: 100px;
            width:  100%;
            border-bottom: solid #eeeeee;

            &__left-box{
                padding: 35px 0 0 40px;
                float: left;

                &__current-group{
                    font-size: 20px;
                    color: #333333;
                    padding-bottom: 15px;
                }

                &__member-list{
                    font-size: 12px;
                    color: $translucent-text-color;

                    &__member{
                        display: inline-block;
                    }
                }
            }
        
            &__edit-btn{
                height: 40px;
                text-align: center;
                font-size: 20px;
                color: $option-color;
                border: 1px solid $option-color;
                margin: 28px 40px 0  0;
                padding: 0 20px;
                float: right;
                line-height: 40px;
                text-decoration: none;
                a:link { color:   $option-color; text-decoration:none }
                a:visited { color:$option-color; text-decoration:none }
                a:hover { color:  $option-color; text-decoration:none }
                a:active { color: $option-color; text-decoration:none }
            }
        }

        .messages{
            width: 100%;
            box-sizing: border-box;
            height: calc(100% - 193px);
            padding: 46px 40px;

            @include message-box('message');
        }

        .form{
            background-color: #E0E0E0;
            width: 100%;
            height: 90px;
            padding: 20px 40px;
            box-sizing: border-box;
            position: relative;

            // .field_with_errors {
            //     height: 100%;
            //     width:  100%;
            //     font-weight: 400;
            // }

            .new_message{
                background-color: #E0E0E0;
                width: 100%;
                height: 100%;

                input[type='text']{
                    box-sizing: border-box;
                    width:  calc(100% - 110px);
                    height: 100%;
                    border:solid 0px;
                    z-index: 10;
                    padding-left: 10px;
                }
            }

            .form__mask{
                position: absolute;
                height: 20px;
                width : 21.44px;
                right: 170px;
                bottom: 40px;

                .form__mask__image{
                    font-size: 20px;
                    cursor: pointer;
                    cursor: hand;
                }
            }

            .form__submit{
                background-color: $option-color;
                width:  100px;
                height: 50px;
                color: $text-color;
                cursor: pointer;
                cursor: hand;
                position: absolute;
                right: 25px;
                top:   20px;

            }
        }
    }
}


// .form__mask{
//     box-sizing: border-box;
//     width: calc(100% - 205px);
//     height: 50px;
//     position: absolute;
//     bottom: 20px;
//     float: left;
//     margin-right:10px;
//     z-index: 5;



//     &#message_content{
//         width: 100%;
//         height: 100%;



//     .input-box__text{
//         outline: 0;
//         border: 0px;
//         width: 100%;
//         height: 100%;
//         padding-left: 10px;
// 