
.header{
    height: 25px;
    width: 100%;
    background-color: $option-color;

    &__text{
    color:   $text-color;
    text-align: center;
    }
}

.contents{
    height: calc(100vh - 25px);
    width:  100%;

    .left-content{
        float: left;
        height: 100%;
        width:  300px;
        background-color: $groups-color;
        position: relative;

        .side-header{
            height: 100px;
            width:  300px;
            background-color: #253141;
            position: absolute;

            &__box{
                height: 100px;
                width:  300px;
                display: inline-block;
                
                &__user-name{
                    float:  left;
                    font-size: 16px;
                    font-weight: bold;
                    color:  $text-color;
                    line-height: 100px;
                    padding-left: 20px;
                }

                &__menu{
                    float:  right;
                    padding-top:   40px;
                    padding-right: 20px;

                    &__new-group{
                        margin-right: 3px;
                        float: left;
                    }
                    
                    &__edit-user{
                        margin-left: 3px;
                        float: right;
                    }
                    
                    .fa{
                        color: $text-color;
                    }
                }
            }
        }

        .groups{
            height: calc(100% - 100px);
            width:  300px;
            background-color: $groups-color;
            margin-top: 100px;

            @include group-box('group1');
            @include group-box('group2');
            @include group-box('group3');

        }
    }
}


    .right-content{
        float: right;
        height: 100%;
        width:  calc(100vw - 300px);
        background-color: #fafafa;
    }

